#about-scroll-box {
  // overflow-y: auto;
  // max-height: 450px;

  -webkit-box-shadow: 2px -3px 16px 20px rgba(59, 65, 71, 0.65);
  -moz-box-shadow: 2px -3px 16px 20px rgba(59, 65, 71, 0.65);
  box-shadow: 2px -3px 27px 20px rgba(16,15,50, 0.75);
  // background-color: rgba(16, 15, 50, 0.75);
  border-radius: 15px;
  -moz-linear-gradient: (left, rgba(76, 74, 223, 0.65) 0%, rgba(16, 15, 50, .75) 40%, rgba(16, 15, 50, .75) 60%, rgba(15, 50, 120, .65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(15, 14, 120, .65) 0%,rgba(16, 15, 50, .75) 40%,rgba(16, 15, 50, .75) 60%,rgba(15, 50, 120, .65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(15, 14, 120, .65) 0%,rgba(16, 15, 50, .75) 40%,rgba(16, 15, 50, .75) 60%,rgba(15, 50, 120, .65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0e78', endColorstr='#0f3278',GradientType=0 ); /* IE6-9 */
  padding: 8px 24px 8px 24px;
  p {
    color: #ffffff;
    font-size: 1.3rem;
    line-height: 1.9rem;  }
}



.about-content-bg {
  background: url('./../../assets/images/streak2.png');
  background-repeat: no-repeat;
  background-position-y: 200px;
  background-size: contain;
  background-origin: content-box;
  opacity: .4;
}