#about-scroll-box {
  overflow-y: auto;
  max-height: 450px;
  padding: 8px 24px 8px 24px;
  p {
    color: #ffffff;
    font-size: 1.3rem;
    line-height: 1.7rem;  }
}



.about-content-bg {
  background: url('./../../assets/images/streak2.png');
  background-repeat: no-repeat;
  background-position-y: 200px;
  background-size: contain;
  background-origin: content-box;
  opacity: .4;
}