<section id="domain" class="domainsearce">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
    <div class="main_somainsearrce">
      <div class="head_title text-center wow fadeInDown" data-wow-duration="1s">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor mauris ac nulla interdum, id molestier.</p>
      </div>

      <div class="serceoption wow fadeIn" data-wow-duration="1.5s">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">www.</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-addon">.com 
            <span class="caret"></span> 
          </span> 
        </div>
      </div>

      <div class="sercelist wow fadeIn" data-wow-duration="2s">
        <div class="single_dotcom_serce text-center">
          
          <ul class="list-inline">
            <li><p>.com</p></li>
            <li><p>1 yer</p></li>
            <li><p>$9.00 USD</p></li>
            <li><p>Transfer Price No</p></li>
          </ul>
          
          <ul class="list-inline no-border">
            <li><p>.net</p></li>
            <li><p>1 yer</p></li>
            <li><p>$9.00 USD</p></li>
            <li><p>Transfer Price No</p></li>
          </ul>
          
           
         </div>    
      </div> <!-- End of sercelist -->

    </div>
  </div>
        </div>
    </div>
</section>
