.navbar-nav {}

.nav_menu {
  margin-bottom: 20px;
}

.navbar-nav.invert {
  a {
    color: black;
    font-weight: bold;
  }
}

.menu-scroll {
  background-color: rgba(14, 17, 25, 0.75);
  background-size: contain;
}

.navbar-fixed-top {
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: rgba(14, 17, 25, 0.0);
}

//   background-color: rgba(14, 17, 25, 0.8);
.main_menu_bg .navbar-default .navbar-nav>.active>a {
  color: #e84c3d;
  background-color: transparent;
  border-bottom: 1px solid #FFF;
  margin-bottom: -1px;
  padding-bottom: 33px;
}

.navbar-right {
  margin-right: 25px;
}

.header {
  height: 1px;
}

.navbar-collapse {
  background-color: rgba(14, 17, 25, 0.75);
  &.in {
    background-color: rgba(14, 17, 25, 1);
  }
}

/******************************************************************************
 ******************************************************************************

                              R E S P O N S I V E 

 ******************************************************************************
*******************************************************************************/

@media(max-width: 767px) {
  .navbar-toggle {
    opacity: 0.6;
  }
}

@media(min-width: 768px) {
  .navbar-toggle {
    opacity: 0.8;
  }
  .page-headline-container {
    max-width: 768px;
  }
  .page-headline-content {
    font-size: 3em;
  }
  .page-subheadline-content {
    font-size: 1.5em;
  }
}

// md AND UP
@media (min-width: 992px) {
  .page-headline-content {
    font-size: 3rem;
  }
  .page-headline-container {
    max-width: 992px;
  }
}

// lg
@media (min-width: 1200p) {
  .router-outlet-container {
    max-width: 1200px;
  }
  .page-headline-container {
    max-width: 1200px;
  }
}

@media (min-width: 1450px) {
  .page-headline-container {
    max-width: 100%;
  }
}