.navbar-nav {}

.nav_menu {
  margin-bottom: 20px;
}

.navbar-nav.invert {
  a {
    color: black;
    font-weight: bold;
  }
}

.menu-scroll {
  background-color: rgba(14, 17, 25, 0.75);
  background-size: contain;
}

.navbar-fixed-top {
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: rgba(14, 17, 25, 0.0);
}

//   background-color: rgba(14, 17, 25, 0.8);
.main_menu_bg .navbar-default .navbar-nav>.active>a {
  color: #e84c3d;
  background-color: transparent;
  border-bottom: 1px solid #FFF;
  margin-bottom: -1px;
  padding-bottom: 33px;
}

.navbar-right {
  margin-right: 25px;
}

.header {
  height: 1px;
}

.navbar-collapse {
  background-color: rgba(14, 17, 25, 0.75);
  &.in {
    background-color: rgba(14, 17, 25, 1);
  }
}




/******************************************************************************
 ******************************************************************************

                F I X E S   F O R   R E S P O N S I V E   M E N U

 ******************************************************************************
*******************************************************************************/

.navbar-container {
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  dipslay: flex;
}

.nav_menu {
  margin-bottom: 20px;
  width: 100%;
  display: flext;
  display: flex !important;
  flex-direction: row;
}

.main_menu_bg .navbar {
  margin-bottom: 0px;
  border-bottom: 1px solid #686868;
  min-height: 90px;
  width: 100%;
  display: flex;
}

.main_menu_bg .container-fluid {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .navbar-nav {
    flex-direction: row !important;
  }
    
}

@media (max-width: 767px) {
  .navbar .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
    }
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
  width: 100%;
}

/******************************************************************************
 ******************************************************************************

                              R E S P O N S I V E 

 ******************************************************************************
*******************************************************************************/

@media(max-width: 767px) {
  // .navbar-toggle {
  //   opacity: 0.6;
  // }
}

@media(min-width: 768px) {
  .navbar-toggle {
    opacity: 0.8;
  }
  .page-headline-container {
    max-width: 768px;
  }
  .page-headline-content {
    font-size: 3em;
  }
  .page-subheadline-content {
    font-size: 1.5em;
  }
}

// md AND UP
@media (min-width: 992px) {
  .page-headline-content {
    font-size: 3rem;
  }
  .page-headline-container {
    max-width: 992px;
  }
}

// lg
@media (min-width: 1200p) {
  .router-outlet-container {
    max-width: 1200px;
  }
  .page-headline-container {
    max-width: 1200px;
  }
}

@media (min-width: 1450px) {
  .page-headline-container {
    max-width: 100%;
  }
}