<section id="intro" class="page-wrapper intro-page-wrapper" style="width: 100vw;">
  <div class="intro-top-spacer"></div>
  <!-- <div class="container-fullwidth"> -->

  <div class="intro-wrapper row" style="width: 100vw;">

    <!-- xs -->
    <div id="introHeadline"
      class="data-aos-slide-down data-aos-flip-down page-headline-content intro-headline-content themed row xxs-only">

      <div class="text-wide-spaced-x col-xs-12 xxs-only got-code-container">
        <img class="got-code-image" src="../../assets/images/gotcode-accent.png" />
      </div>

      <div class="col-xs-12 xxs-only xxx-spacer-cell">

      </div>

      <div class="intro-enter-text col-xs-12 xxs-only">
        <div class="intro-enter-text-content">
          ENTER!
        </div>
      </div>

      <div class="intro-image-two-container col-sm-12"><img src="../../assets/images/arrows1.png" /></div>


    </div>


    <!-- hidden xs -->
    <div data-aos="slide-down" id="introHeadline"
      class="data-aos-slide-down data-aos-flip-down page-headline-content intro-headline-content themed row hidden-xxs">
      <div class="text-wide-spaced-x got-code-container col-sm-12 hidden-xxs">
        <img class="hidden-xxs got-code-image" src="../../assets/images/gotcode-accent.png" />
      </div>
    </div>
    <div class="image-container row hidden-xxs">
      <div class="col-sm-12">
        <img data-aos="fade-in" data-aos-delay="2000" data-aos-duration="3000" style="position: relative; "
          src="../../assets/images/BlueStreak4.png" />
      </div>
    </div>

    <!-- hidden xs -->
    <div class="intro-section-two-container row hidden-xxs" data-aos="slide-right" data-aos-delay="1500">
      <div class="intro-enter-text col-md-6 hidden-xxs" (click)="clickEnter('home')">
        <div class="intro-enter-text-content">
          <span (click)="clickEnter()">ENTER!</span>
        </div>
      </div>
      <div data-aos="slide-up" data-aos-delay="1500" class="intro-image-two-container col-md-6 hidden-xxs"
        (click)="clickEnter()">
        <img class="arrows-right-image" src="../../assets/images/arrows1.png" />
      </div>
    </div>

  </div>
  <!-- </div> -->
</section>