@import "../variables";
.intro-top-spacer {
  min-height: 125px;
}

.intro-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%; // border: 1px solid red;
  min-height: 620px;
  .intro-headline-content {
    font-style: normal;
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-shadow: 2px 3px 2px #000000, 3px 3px 2px #000000, 4px 3px 2px #000000, 5px 4px 2px #000000, 6px 5px 2px #000000, 7px 3px 2px #000000, 8px 3px 2px #000000, 9px 3px 2px #000000, 10px 4px 2px #000000, 11px 3px 2px #000000, 12px 2px 2px #000000;
    font-family: 'latomedium';
    .got-code-container {}
    img {
      width: 90vw;
      height: 50vh;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .image-container {
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    img {
      width: 102vw;
      top: 0px;
      left: 0px;
      margin-left: -2%
    }
  }
  .intro-section-two-container {
    z-index: 2;
    display: inline-block;
    position: relative;
    width: 100%;
    img {
      max-height: 50px;
      max-width: 250px;
      position: absolute;
      width: 20vw;
    }
    .intro-enter-text {
      text-align: right;
      .intro-enter-text-content {
        color: $bb-accent-alt;
        font-size: 6em;
        text-align: right;
      }
    }
    .intro-image-two-container {
      .arrows-right-image {

      }
    }
  }
}

@media (max-width: 574.99px) {
  .xxx-spacer-cell {
    display: inline-block;
    height: 20vh;
  }
  .intro-top-spacer {
    min-height: 100px;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .intro-wrapper {
    &.row {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .intro-headline-content.row.xxs-only {
      .got-code-container {
        .got-code-image {
          width: 360px;
          height: 150px;
          margin-left: 6vw !important;
          margin-right: auto !important;
        }
      }
      font-size: 3.3em; // padding-left: 5vw;
      text-shadow: 2px 3px 2px #979696;
    }
    .image-container {
      display: none;
    }
    .intro-enter-text {
      .intro-enter-text-content {
        font-size: 1.5em;
        text-align: center;
        color: $bb-accent-alt;
        text-shadow: 2px 3px 2px $bb-accent-alt-dark;
        float: rigth;
      }
    }
    .intro-image-two-container {
      img {
        max-height: 50px;
        max-width: 350px;
      }
    }
  }
}

@media(min-width: 575px) and (max-width: 767px) {
  .xxx-spacer-cell {
    display: none;
  }
  .intro-top-spacer {
    min-height: 100px;
  }
  .intro-wrapper {
    width: 150vw !important;
    &.row {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .intro-headline-content {
      .got-code-container {
        margin-top: 20px;
        font-size: 5em;
        letter-spacing: .5em;
        img {
          width: 720px;
          height: 300px;
          position: absolute;
          left: 25vw;
        }
      }
    }
    .image-container {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 118vh;
        top: 0px;
        left: 0px;
        margin-left: -2%
      }
    }
    .intro-section-two-container {
      width: 150vw;
      .intro-enter-text {
        text-align: center;
        float: none;
      }
      img {
        max-height: 50px;
        max-width: 250px;
        left: 65vw;
        width: 20vw;
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .intro-top-spacer {
    min-height: 150px;
  }
  .intro-wrapper {
    border: 1px dashed orangered;
    &.row,
    .row {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .intro-headline-content {
      font-size: 6em;
      .got-code-container {
        margin-top: 20px;
        img {
          width: 720px;
          height: 300px;
        }
      }
    }
    .image-container {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 102%;
        top: 0px;
        left: 0px;
        margin-left: -2%
      }
    }
    .intro-section-two-container {
      width: 100%;
      .intro-enter-text {
        text-align: center;
        float: left;
      }
      .intro-image-two-container {
        padding-top: 40px;
      }
      img {
        max-height: 50px;
        max-width: 250px;
      }
    }
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  .intro-top-spacer {
    min-height: 150px;
  }
  .intro-page-wrapper {
    // padding-top: 100px;
  }
  .intro-wrapper {
    border: 1px solid red;
    &.row,
    .row {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .intro-headline-content {
      font-size: 8em;
      margin-top: 20px;
      .got-code-container {
        margin-top: 20px;
        img {
          width: 960px;
          height: 400px;
        }
      }
    }
    .image-container {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 102%;
        top: 0px;
        left: 0px;
        margin-left: -2%
      }
    }
    .intro-section-two-container {
      width: 100%;
      .intro-enter-text {
        text-align: center;
        float: left;
      }
      .intro-enter-text-content {
        // *******************
      }
      .intro-image-two-container {
        padding-top: 42px;
      }
      img {
        max-height: 50px;
        max-width: 250px;
      }
    }
  }
  .text-wide-spacing {
    letter-spacing: 0.1em;
  }
}

@media(min-width: 1200px) {
  .intro-top-spacer {
    min-height: 150px;
  }
  .intro-page-wrapper {
    // padding-top: 100px;
  }
  .intro-wrapper {
    &.row,
    .row {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .intro-headline-content {
      font-size: 8em;
      img {
        height: 400px;
      }
      .got-code-container {
        margin-top: 20px;
        img {
          width: 960px;
          height: 400px;
        }
      }
    }
    .image-container {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 102vw;
        top: 0px;
        left: 0px;
        margin-left: -6%;
      }
    }
    .intro-section-two-container {
      width: 100%;
      .intro-enter-text {
        text-align: center;
        float: left;
      }
      .intro-image-two-container {
        padding-top: 42px;
      }
      img {
        max-height: 50px;
        max-width: 250px;
      }
    }
  }
  .text-wide-spacing {
    letter-spacing: 0.1em;
  }
}

@media(min-width: 1401px) {}