<script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


  <app-header></app-header>

  <!-- <div style="position: relative; height: 150px; border: 1px solid red;"></div> -->
  <section style="background-color: transparent;">
    <!-- <div id="stars" style="display:none;"></div>
    <div id="stars2"></div>
    <div id="stars3" style="display: none;"></div> -->
    <!-- <div id="windowBoundary"></div> -->
    <!-- <div id="backgroundImage" class="home background-servers">
      <div id="rn-main-overlay" class="home-overlay-fluid overlay-60"> -->
        <div id="router-outlet-container" class="router-outlet-container display: flex; flex-direction: column;">
          <!-- <router-outlet></router-outlet> -->
          <app-intro id="introPage" class="intro"></app-intro>
          <!-- <app-home id="homePage" class="home page-hidden"></app-home>
          <app-about id="aboutPage" class="about page-hidden"></app-about> -->
        </div>
      <!-- </div>
    </div> -->
  </section>
<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/jquery.easypiechart.min.js"></script>

<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>