<!-- <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script> -->


<app-header></app-header>
<app-intro [hidden]="dataService.getProperty('introHidden')" class="intro" style="position: absolute;"></app-intro>

<section style="background-color: transparent;">
  <div id="router-outlet-container" class="router-outlet-container" style="position: relative;">
    <router-outlet></router-outlet>
    <app-home [hidden]="dataService.getProperty('homeHidden')" style="position: absolute;"></app-home>
  </div>
  <!-- </div> -->

</section>
<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/jquery.easypiechart.min.js"></script>

<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>