<div id="resumePage" class="page-wrapper">
    <div id="anchor" class="pdf-button-anchor">
        <div style="width: 100%">
            <div id="zoomBtnHolder" class="zoom-button-container">
                <button id="btnZoomDown" class="zoom-button zoomOut" (click)="zoomUp(false)" [disabled]="(zoomLevel <= 0.25)">
                    <i class="fa fa-minus"></i>
                </button>
                <div style="width: 100px; float: left; font-weight: bold; font-size: 1rem; color: #FFF;">Zoom: {{zoomLevel | number:'1.0-1'}}</div>
                <button id="btnZoomUp" class="zoom-button zoomIn" (click)="zoomUp(true)" [disabled]="(zoomLevel >= 3)">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
        </div>
        <div id="pdf-viewer-container" class="pdf-viewer-container">
            <pdf-viewer id="pdfViewer" src="../assets/rob-harrison-resume.pdf" [show-all]="true" [page]="page"
                (after-load-complete)="afterLoadComplete($event)" [autoresize]="true" [zoom]="zoomLevel" page-rendered="pageRendered($event)">
            </pdf-viewer>
        </div>
    </div>
</div>