#homePage {

}

.home-page-main {
  margin-top: 20px;
}

.home-headline {
  position: relative;
  display: inline-block;
}

.home-page-container {}

.home-page-content {
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: left;
  font-size: 2.3vh;
}

// Need to figure out a way to set height on this... 
.circles-container-anchor {
  position: fixed;
  width: 100%;
  top: 30vh;
  left: 0px;
  transition-property: opacity top;
  transition-duration: 2500ms;
  opacity: 1;
  &.out {
    opacity: 0;
    top: -2000px;
  }
}

.circles-container {
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
  app-ani-circle {
    position: absolute;
    transition-timing-function: cubic-bezier(0, 1.33, .55, .99);
  }
}

.content-fade::after {
  animation: deliverContent 3s ease-in inifinte alternate;
}

.home-section-wrapper {
  padding-top: 25px;
}

.container-fullwidth {
  width: 100vw;
}

app-ani-circle.park {
  transform: scale(0.4, 0.4);
  &.x0 {
    top: 0px !important;
    left: 91vw !important;
  }
  &.x1 {
    top: 0px !important;
    left: 1vw !important;
  }
  &.x2 {
    top: 12vh !important;
    left: 91vw !important;
  }
  &.a1 {
    left: 1vw !important;
    top: 24vh !important;
  }
  &.x4 {
    top: 12vh !important;
    left: 1vw !important;
  }
  &.x5 {
    top: 36vh !important;
    left: 91vw !important;
  }
  &.x6 {
    top: 36vh !important;
    left: 1vw !important;
  }
  &.x7 {
    top: 24vh !important;
    left: 91vw !important;
  }
  &.x8 {
    top: 48vh !important;
    left: 1vw !important;
  }
  &.x9 {
    top: 48vh !important;
    left: 91vw !important;
  }
  &.x10 {
    top: 60vh !important;
    left: 1vw !important;
  }
  &.x11 {
    top: 60vh !important;
    left: 91vw !important;
  }
  &.x12 {
    top: 72vh !important;
    left: 1vw !important;
  }
  &.x13 {
    top: 72vh !important;
    left: 91vw !important;
  }
  &.x14 {
    top: 84vh !important;
    left: 1vw !important;
  }
  &.y1 {
    left: 84vh !important;
    left: 91vw !important;
  }
  &.y {
    left: 1vw !important;
  }
  &.yl {
    left: 91vw !important;
  }
}

/******************************************************************************
 ******************************************************************************

                              R E S P O N S I V E 

 ******************************************************************************
*******************************************************************************/

@media(min-width: 767px) and (max-width: 991px) {}

// md AND UP
@media (min-width: 992px) and (max-width: 1199px) {}

// lg
@media (min-width: 1200px) and (max-width: 1449) {}

@media (min-width: 1450px) {}