@import '../responsive.scss';
.home-headline {
  position: relative;
}

.home-page-main {
  margin-top: 20px;
}

.circles-container {
  position: relative;
  width: 100%;
  height: 100vmax;
  top: 0px; 
  left: 0px;
  app-ani-circle {
    position: absolute;
    transition-timing-function: cubic-bezier(0,1.33,.55,.99);
  }
}

#windowBoundary {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vmax;
}

@keyframes deliverContent {
  0% {
    content: "Intuitive User Interface";
    opacity: .25;
    filter: blur(90px);
  }
  50% {
    content: "Intuitive User Interface";
    opacity: .5;
    filter: blur(45px);
  }
  100% {
    content: "Intuitive User Interface";
    opacity: 1;
    filter: blur(0px);
  }
}

.content-fade::after {
  animation: deliverContent 3s ease-in inifinte alternate;
}

.home-section-wrapper {
  padding-top: 25px;
}

.container-fullwidth {
  width: 100vw;
  overflow-x: hidden;
}


/******************************************************************************
 ******************************************************************************

                              R E S P O N S I V E 

 ******************************************************************************
*******************************************************************************/


@media(min-width: 767px) {
  .page-headline-container {
    max-width: 768px;
  }

  .page-headline-content {
    font-size: 3em;
  }

  .page-subheadline-content {
    font-size: 1.5em;
  }

}


// md AND UP
@media (min-width: 992px) {
  .page-headline-content {
    font-size: 3rem;
  }

  .page-headline-container {
    max-width: 992px;
  }
}

// lg
@media (min-width: 1200p) {
  .router-outlet-container {
    max-width: 1200px;
  }
  .page-headline-container {
    max-width: 1200px;
  }

}

@media (min-width: 1450px) {
  .page-headline-container {
    max-width: 100%;
  }


}