<section id="register" class="register">
    <div class="container-fullwidth">
        <div class="row text-center">
            <div class="home-headline">
                <div class="home-headlline-content">
                    Experienced Application Developer
                </div>
                <div class="home-subheadline-content">
                    Over 11 years of professional experiance
                </div>
            </div>
            <div class="home-main">
                <div class="home-main-content">
                    
                </div>
            </div>
        </div>
    </div>
</section>