<section id="register" class="register">
    <div class="container-fullwidth rn-home-container-outer">
        <div class="row text-center rn-home-container-inner vertical-40">
            <div class="col-sm-12 col-xs-12">
                <div class="rn-home-main-banner">
                    They say if you love what you do, it's not really work...
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-8 col-xs-12 rn-home-secondary-banner">
                    They're right!
                </div>
            </div>
        </div>
    </div>
</section>